<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { background-color: #0a1930; padding: 30px; font-family: Arial,
      Helvetica, sans-serif; } .container { background-color: #eee; padding:
      10px; border-radius: 3px; } .color-primary { color: #007bff; }
      .color-danger { color: orangered; } .color-success { color: #28a745; }
      .color-white { color: #fff; } .color-blue { color: #0a1930; } a {
      font-size: 1rem; text-decoration: none; } .btn { font-size: 1rem;
      font-weight: 400; padding: 6px 8px; margin: 0 5px 0 0; border: 1px solid
      transparent; border-radius: 3px; cursor: pointer; } .btn-primary { color:
      #fff; background: #007bff; } .btn-secondary { color: #fff; border: 1px
      solid #fff; background: transparent; } .btn-danger { color: #fff;
      background: orangered; } .btn-success { color: #fff; background: #29a9e8;
      padding: 15px; } .flex-center { display: flex; justify-content: center;
      align-items: center; } .logo { padding: 5px 1rem; background-color:
      #29a9e8; } .my { margin: 2rem 0; } a { color: white; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo flex-center">
        <h2 class="color-white">Welcome!</h2>
      </div>
      <h2>Hello <span class="color-danger">{{userName}}</span>,</h2>
      <p>
        Thank you for signing up and giving us a try. Our Files Hub offers a
        vast collection of downloadable Files.
      </p>
      <p>Please confirm you account by clicking the button below</p>
      <br />

      <a href="{{link}}" class="btn btn-success">Confirm Account</a>
      <br />
      <br />
      <p>If that doesn't work, copy and paste the following in your browser:</p>
      <p class="link">
        <a href="{{link}}">{{link}}</a>
      </p>
      <p>
        Once confirmed, you'll be able to login and download files with your
        account
      </p>
      <div class="my">
        <p>Best wishes,</p>
        <p><b class="color-danger">Lizzy's Files</b></p>
      </div>
    </div>
  </body>
</html>